.navbar{
    height: 58px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    
    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 3px;
        
    }
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid rgb(255, 255, 255);
        padding: 3px;
        margin-right: 3px;
        text-align: center;
        input{
            margin: 3px;
            justify-content: space-between;
            border: none ;
            outline: 0.5px solid rgb(160, 159, 159);
            background: transparent;
        }
    }
    .items{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
    }
}